#TeX additional files:
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
____________________

#Extensions to ignore
*.DS_Store
*.docx
*.exe
*.in
*.json
*.o
*.out
*.txt
____________________

#Folders to ignore
.vscode
main.exe.dSYM
11_shortest_paths_in_graphs
____________________
#Files to ignore
prog/01_oop_classes/note.md
*test.md
synopsis/dm_combinations.pdf
synopsis/dm_combinations.tex
