#TeX additional files:
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
____________________

#Extensions to ignore
*.DS_Store
*.exe
*.o
*.plist
____________________

#Folders to ignore
.vscode
____________________
